@extends('master')

@section('content')

	<h1 class="pageheader">
		{{pluralUcfirst}}
		<small>Edit the {{singular}}</small>
		\{{ link_to_route('{{singular}}.index', 'Back to {{singular}}', [${{singular}}->id], ['class' => 'btn btn-info pull-right', 'style' => 'margin-top:10px;']) }}
		\{{ Form::open(['route' => ['{{singular}}.destroy', ${{singular}}->id], 'method' => 'delete', 'class' => 'pull-right', 'style' => 'margin-top:2px;margin-right:10px;']) }}
			\{{ Form::button('Delete {{singularUcfirst}}', ['type' => 'submit', 'class' => 'btn btn-danger']) }}
		\{{ Form::close() }}
	</h1>
	<hr>

	\{{ Scaffold::form('update', ${{singular}}) }}

@stop